[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
perpetuals = "78eJr4g84nZyThNHUxpUn1Ss3XcVququKWS4swk8G8xv"

[programs.devnet]
perpetuals = "78eJr4g84nZyThNHUxpUn1Ss3XcVququKWS4swk8G8xv"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 'tests/**/!(helpers)/*.ts' 'tests/*.ts'"

address = "BKck65TgoKRokMjQM3datB9oRwJ8rAj2jxPXvHXUvcL6"
program = "/Users/kyler/repos/examples/mgk-perp/artifacts/arcium_program_0.2.0.so"
